.board-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px;
}

.boxes {
  border: 1px solid #d116b5; 
  text-align: center;
  font-size: 24px;
  height: 100px;
  width: 100px
}

.boxes:hover {
  background-color: pink
}

.next-game-btn {
  background-color: #f196df;
    color: white;
    border: 2px solid #f2a8e0;
    /* padding: 10px 15px; */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 35%;
    margin-top: 5%;
}

.next-game-btn:hover {
  background-color: #ee28ca; 
}

.winning-message {
   font-size: 2em;
   text-align: center;
}

.turn-message {
  font-size: 2em;
  text-align: center;
}



@media screen and (max-width: 375px) {
  .boxes {
    height: 50px;
    width: 50px;
    font-size: 10px
  }
  .turn-message {
    font-size: 1.5em;
    text-align: center;
  }
  .next-game-btn {
    margin-left: 21%
  }
}

@media screen and (max-width: 280px) {
  .boxes {
    height: 40px;
    width: 40px ;
    font-size: 10px
  }
  .turn-message {
    font-size: 1.5em;
    text-align: center;
  }
}

@media screen and (max-width: 430px) {
  .boxes {
    height: 40px;
    width: 40px;
  }

  .turn-message {
    font-size: 1.5em
  }
}