.App {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url('../../Images/castle 1.jpeg'); 
  background-repeat: no-repeat;
  background-size: cover;
  height: 200vh;
  z-index: 0;
}


// .PlayerOne,
// .PlayerTwo {
//   flex: 1; /* Equal width for PlayerOne and PlayerTwo */
// }

.game-board {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 10px; 
  width: 300px; 
  margin: auto;
  z-index: 1;
}