.token {
  font-size: 5em;
}

.player-one, player-two {
  text-align: center;
}

h2 {
  display: flex;
  font-family: 'Sofia', cursive;

}

.score {
  font-size: 1.5em;
}

@media screen and (max-width: 430px) {
  .token {
    font-size: 2em;
  }
  .score {
    font-size: 1.1em
  }
  
}

// @media screen and (max-width: 375px) {
//   .token {
//     font-size: 2em;
//   }
//   .score {
//     font-size: 1.1em
//   }

//   h2 {
//     font-size: 12px
//   }
  
// }

@media screen and (max-width: 280px) {
  .token {
    font-size: 2em;
  }
  .score {
    font-size: 1.3em
  }
  
}

